/*Сбрасываем стандартные стили*/
html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  button {
    background-color: transparent;
    border-style: none;
  }
  /*Мои стили*/
  /*Верхнее меню*/
  nav {
    display: flex;
    height: 100px;
  }
  .wiki-navigation a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    margin-left: 20px;
    margin-right: 20px;
  }
  .wiki-navigation {
    margin: auto;
  }
  .search {
    margin-top: auto;
    margin-bottom: auto;
    height: 40px;
    width: 200px;
    border-radius: 45px;
    margin-right: 20px;
  }
  .search-icon {
    width: 20px;
    height: 20px;
    position: relative;
    top: 40px;
    left: 40px;

  }
  .search input {
    border-style: none;
    border-radius: 45px;
    background-color: rgb(199, 190, 190);
    height: 100%;
    width: 100%;
  }
  .avatar {
    margin-top: auto;
    margin-bottom: auto;
    width: 40px;
    height: 40px;
    border-radius: 45px;
    margin-right: 40px;
  }
  /*Баннер страницы*/
  .article-banner {
    content: url(file:///D:/Icy/images/ВаряБаннер.jpg);
    width: 100%;
    height: 40vh;
    object-fit: cover;
  }
  /*Кнопка левой менюшки*/
 .left-tools-button {
    width:40px;
    height:40px;
    margin-left: 50px;
    margin-top: 50px;
  }
  .left-tools-menu {
    width: 100%;
  }
  /*Интервики*/
  .flag {
    height: 20px;
    width: 30px;
  }
  .interwiki-toggler {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: -40px;
  }
  .interwiki-text {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
    color: rgb(45, 128, 156);
  }
  /*Инструменты редактора*/
  .right-page-tools {
    width: 50px;
    margin-right: 30px;
    margin-left: auto;
    margin-top: -10px;
    visibility: unset;
  }
  .page-tools-main.page-tools-svg {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 45px;
  }
  .page-tools-main.page-tools-img {
    width: 50px;
    height: 50px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 45px;
  }
  .page-tools-main.page-tools-text {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 45px;
    font-size: 20px;
    margin-left: 12px;
  }
  .page-tools {
    margin-bottom: 5px;
  }
  /*Разворачиваемые инструменты*/
  .additional-page-tools {
    display: none;
  }
  .page-tools-additional.page-tools-img {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 45px;
    margin-left: 12px;
  }
  .page-tools-additional.page-tools-svg {
    width: 30px;
    height: 30px;
    /*padding: 10px;*/
    border: 1px solid black;
    border-radius: 45px;
    margin-left: 12px;
  }
  .history-icon {
    padding-right: 2px;
  }
  .talk-icon {
    padding: 5px;
  }
  /*Заголовок*/
  .page-header__title-wrapper {
    text-align:center;
    font-size: 40px;
    font-weight: bold;
    font-style: inherit;
    margin-top: -50px;
  }
  /*Материал из вики*/
  .from-wiki {
    color: gray;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  /*Преамбула*/
  .preamble {
    font-style: italic;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    max-width: 1000px;
    line-height: 30px;
  }
  /*Основной контент*/
  .page-content {
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    max-width: 750px;
    line-height: 30px;
  }
  /*Загловок второго уровня*/
  h2.mw-head-line {
    margin-top: 50px;
    margin-bottom: 40px;
    font-weight: bold;
  }
  /*Изображение*/
  .page-image {
    width: 300px;
    height: auto;
  }
  /*Responsibility*/
  .right-page-tools-mobile {
    visibility: hidden;
  }
  @media (max-width:800px) {
    .page__main {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
  @media (max-width:750px) {
    .right-page-tools {
      visibility: hidden;
    }
    .right-page-tools-mobile {
      display:flex;
      flex-direction: row;
      visibility: unset;
      margin-top: 50px;
      justify-content: center;
    }
    .mobile-editor-tools-button {
      /*margin: auto;*/
      font-size: 20px;
      /*margin-left: 5px;
      margin-top: 2px;*/
      border: 1px solid black;
      border-radius: 45px;
      width: 30px;
    }
    .page-header__title-wrapper {
      margin-top: -100px;
    }
    .from-wiki {
      margin-top: 5px;
    }
  }
  @media (max-width:500px) {
    .page-image {
      margin-right:auto;
      margin-left: auto;
    }
  }
  @media (max-width:450px) {
    .article-banner {
    content: url(file:///D:/Icy/images/ВаряБаннер.jpg);
    height: 30vh;
  }
  .page-header__title-wrapper {
    font-size: 25px;
  }
  .from-wiki {
    font-size: 12px;
  }
}
/*Мобильные инструменты*/
.page-tools-mobile.page-tools-img {
  width: 30px !important;
  height: 30px;
  border: 1px solid black;
  border-radius: 45px;
}
.page-tools-mobile.page-tools-svg {
  width: 30px;
  height: 30px;
  /*padding: 10px;*/
  border: 1px solid black;
  border-radius: 45px;
 /*margin-left: 12px;*/
}
.full-page-tools-mobile {

}
.page-tools-mobile {
  display: none;
}
